---
import { Image } from "astro:assets";
import CustomButton from "./CustomButton.tsx";
import HeroPng from "/public/images/hero.png";
---

<section class="hero">
    <div class="flex-1 pt-36 padding-x">
        <h1 class="hero__title text-heading-2">Find, book, rent a car—quick and super easy!</h1>

        <p class="hero__subtitle">Streamline your car rental experience with our effortless booking process.</p>

        <CustomButton client:load containerStyles=" text-white rounded-full mt-10 bg-primary-blue">
            {"Explore Cars"}
        </CustomButton>
    </div>

    <div class="hero__image-container">
        <div class="hero__image">
            <Image alt={"hero"} src={HeroPng} class="h-full object-contain" />
        </div>

        <div class="hero__image-overlay"></div>
    </div>
</section>
