---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/shared/Hero.astro";
import CarCatalog from "../components/sections/CarCatalog.astro";
---

<Layout title="I am a Index">
    <main class="overflow-hidden">
        <Hero />

        <CarCatalog />
    </main>
</Layout>
